{% extends 'base.html' %}
{% load widget_tweaks %}


{% block titulo %}

    {{ block.super}} | Adiconar Categoria

{% endblock titulo %}

{% block corpo %}

    <h1>Tarefas</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.titulo.id_for_label }}">Titulo</label>
            {% render_field form.titulo class="form-control" placeholder="Digite o título da tarefa" %}
        </div>
        <div class="form-group">
            <label for="{{ form.descricao.id_for_label }}">Descrição</label>
            {% render_field form.descricao class="form-control" placeholder="Digite a descrição da categoria" %}
        </div>
        <div class="d-flex justify-content-between">
            <div class="form-group w-25">
                <label for="{{ form.categoria.id_for_label}}">Categoria</label>
                {% render_field form.categoria class="form-control" placeholder="Escolha a Categoria da tarefa" %}
            </div>
            <div class="form-group w-25">
                <label for="{{ form.status.id_for_label}}">Status</label>
                {% render_field form.status class="form-control" placeholder="Escolha o Status da tarefa" %}
            </div>
            <div class="form-group w-25">
                <label for="{{ form.prioridade.id_for_label }}">Prioridade</label>
                {% render_field form.prioridade class="form-control" placeholder="Escolha a prioridade da tarefa" %}
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-secondary" href=" {% url 'tarefas:listar_tarefas' %}">Cancelar</a>
        </div>

    </form>

{% endblock corpo %}