{% extends 'base.html' %}
{% load widget_tweaks %}

{% block titulo %}

    {{ block.super }} | Tarefa

{% endblock titulo %}

{% block corpo %}

    <h1>Tarefas</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Categoria</th>
                <th scope="col">Status</th>
                <th scope="col">Prioridade</th>
            </tr>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
                <tr>
                    <th scope="row">{{ tarefa.id }}</th>
                    <td>{{ tarefa.titulo }}</td>
                    <td>{{ tarefa.descricao }}</td>
                    <td>{{ tarefa.categoria }}</td>
                    <td>{{ tarefa.get_status_display }}</td>
                    <td>{{ tarefa.get_prioridade_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock corpo %}